@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
html
{
  box-sizing: border-box;
  font-smoothing :subpixel-antialiased;
  text-rendering: geometricPrecision;
  shape-rendering :geometricPrecision;
}
body{
  font-family: 'Droid Sans', sans-serif;
}
.tmtimeline {
  margin: 10px 0 0 0;
  padding-right: 25px;
  list-style: none;
  position: relative;
}

/* The line */
.tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #bcbcbc;
  left: 2%;
  margin-left: -10px;
}

.tmtimeline > li {
  position: relative;
}

/* The date/time */
.tmtimeline > li .tmtime {
  display: block;
  width: 25%;
  padding-right: 75px;
  position: absolute;
}

.tmtimeline > li .tmtime span {
  display: block;
  text-align: right;
}

.tmtimeline > li .tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
}

.tmtimeline > li .tmtime span:last-child {
  font-size: 2.9em;
  color: #bbb;
}

.tmtimeline > li:nth-child(odd) .tmtime span:last-child {
  color: #dcdcdc;
}

/* Right content */
.tmtimeline > li .tmlabel {
  margin: 0 0 15px 5px;
  background: #bbb;
  color: #555;
  padding: 1em;
  font-size: 1em;
  position: relative;
  border-radius: 5px;
}

.tmtimeline > li:nth-child(odd) .tmlabel {
  background: #dadada;
}
.tmtimeline > li .tmlabel h3 {
  color: #555;
  font-size: 14px;
  font-weight: 600;
}

/* The triangle */
.tmtimeline > li .tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #bbb;
  border-width: 10px;
  top: 45%;
}

.tmtimeline > li:nth-child(odd) .tmlabel:after {
  border-right-color: #dadada;
}



